#collaborators {
  h5 {
    color: $primary-color;
    text-transform: uppercase;
    margin: 15px 15px 15px 0;
  }
  background: $white;
  border-top: 2px solid $primary-color-light;
  padding: 15px 0 30px 0;


  .collaborators-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    a {
      margin: 0 20px 20px 0;
    }
  }
}
