<div id="collaborators">
    <div class="container-fluid-1440">
        <h5>Patrocinadores</h5>
        <div class="grid-row">
            <% for (var collab in site.data.collaborators) { %>
                <div class="col-xs-6 col-sm-4">
                    <%- partial('_partial/collaborator', {collab: site.data.collaborators[collab]}) %>
                </div>
            <% } %>
          </div>
    </div>
</div>
