<div id="collaborators">
    <div class="container-fluid-1440">

        <div class="grid-row">
            <div class="col-md-8 col-xs-8 col-sm-3">
                <h5>Mecenas fundadores</h5>
                <div class="grid-row">
                    <% for (var collab in site.data.collaborators) { %>
                        <div class="col-xs-8 col-sm-3">
                            <%- partial('_partial/collaborator', {collab: site.data.collaborators[collab]}) %>
                        </div>
                    <% } %>
                  </div>
            </div>
            <div class="col-md-8 col-xs-8 col-sm-3">
                <h5>Patrocinadores 2024</h5>
                <div class="grid-row">
                    <% for (var collab in site.data.patrocinadores) { %>
                        <div class="col-xs-8 col-sm-3">
                            <%- partial('_partial/collaborator', {collab: site.data.patrocinadores[collab]}) %>
                        </div>
                    <% } %>
                  </div>
            </div>
        </div>
    </div>
</div>
