<div class="collaborator" style="text-align: center;">
    <a href="<%- collab.link %>" target="_blank" title="<%- collab.name %>">
       <img src="<%- url_for(collab.image) %>" alt="<%- escape(collab.name) %>" />
    </a>
</div>
