<div id="collaborators">
    <div class="container-fluid-1440">
        <h5>Colaboran</h5>
        <div class="collaborators-wrapper">
            <% for (var collab in site.data.collaborators) { %>
                <%- partial('_partial/collaborator', {collab: site.data.collaborators[collab]}) %>
            <% } %>
        </div>
    </div>
</div>
