<footer id="footer">
    <div class="container-fluid-1440">
        <div class="grid-row">
            <div class="col-xs-12 col-sm-5 mb-6">
                <p>A Industriosa é unha asociación sen ánimo de lucro que xestiona e promove un medialab na cidade de Vigo. Un espacio onde makers, comunidades tecnolóxicas e empresas, dispoñen do equipamento necesario para poder levar a cabo os seus proxectos. Un punto de encontro onde aprender, compartir e construir.</p>

                <p>
                    <a href="https://vigotech.org/" class="vigotech-made-with vigotech-dark">
                        Feito con <i class="vt-pinecone"></i> en <strong>Vigo</strong>
                    </a>
                </p>
                <p>
                    <i class="fa fa-envelope"></i> info[at]aindustriosa.org<br>
                    <i class="fa fa-address-card"></i> CIF: G27846609<br>
                    <i class="fa fa-map-signs"></i> Rúa Barcelona, 13 (Vigo, Pontevedra - Galicia)
                </p>
            </div>

            <div class="col-xs-12 col-sm-7 mb-6 text-right">
                <div class="responsive-embed-wrapper">
                    <iframe width="500" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-8.724013566970827%2C42.226948321044894%2C-8.720473051071169%2C42.22873384027705&amp;layer=mapnik" style="border: 1px solid black"></iframe>
                </div>
                <br/><small><a href="https://www.openstreetmap.org/#map=19/42.22784/-8.72224">Ollar un mapa máis grande</a></small>
            </div>
        </div>
    </div>
</footer>
