<footer id="footer">
    <div class="container-fluid-1440">
        <div class="grid-row">
            <div class="col-xs-12 col-sm-5 mb-6">
                <p>PHP Vigo pretende ser un grupo dinamizador de PHP en Vigo y su área de influencia.</p>

                <p>El objetivo principal de este grupo es intercambiar conocimiento y experiencia sobre PHP y todo su ecosistema, mediante charlas, foros y todo tipo de eventos.</p>

                <p>
                    <a href="https://vigotech.org/" class="vigotech-made-with vigotech-dark">
                        Feito con <i class="vt-pinecone"></i> en <strong>Vigo</strong>
                    </a>
                </p>
                <p>
                    <i class="fa fa-envelope"></i> phpvigo[at]gmail.com
                </p>
            </div>

            <div class="col-xs-12 col-sm-7 mb-6 text-right">
                <img src="/i/logo-vertical-white.png" alt="PHPVigo" class="logo" />
            </div>
        </div>
    </div>
</footer>
