<footer id="footer">
    <div class="container-fluid-1440">
        <div class="grid-row">
            <div class="col-xs-12 col-sm-5 mb-6">
                <p>A Industriosa é unha asociación sen ánimo de lucro que xestiona e promove un medialab na cidade de Vigo. Un espacio onde makers, comunidades tecnolóxicas e empresas, dispoñen do equipamento necesario para poder levar a cabo os seus proxectos. Un punto de encontro onde aprender, compartir e construir.</p>

                <p>
                    <a href="https://vigotech.org/" class="vigotech-made-with vigotech-dark">
                        Feito con <i class="vt-pinecone"></i> en <strong>Vigo</strong>
                    </a>
                </p>
                <p>
                    <i class="fa fa-envelope"></i> info[at]aindustriosa.org
                </p>
            </div>

            <div class="col-xs-12 col-sm-7 mb-6 text-right">
                <img src="/i/logo_reducido.png" alt="A Industriosa" class="logo" />
            </div>
        </div>
    </div>
</footer>
