$blue: #0068FF;
$dark-blue: #000033;
$primary-color: $blue;
$primary-color-light: lighten($primary-color, 40);
$primary-font: 'Raleway';

$grey6: #666;
$greyA: #aaa;
$greyF0: #f0f0f0;
$greyE0: #e0e0e0;

$white: #fff;
$black: #000;
