$blue: #4c4e52;
$dark-blue: #000033;
$primary-color: #b08d58;
$primary-color-light: lighten(#b08d58, 40);
$primary-font: 'Abel';

$grey6: #666;
$greyA: #aaa;
$greyF0: #f0f0f0;
$greyE0: #e0e0e0;

$white: #fff;
$black: #000;
