<div class="container-fluid-1440">
    <% switch (page.innerLayout) {
        case 'videos': %>
            <%- partial('_partial/page-videos', {post: page, index: false}) %>
            <% break %>
        <% case 'events': %>
            <%- partial('_partial/page-events', {post: page, index: false}) %>
            <% break %>
    	<% case 'fabcademy': %>
            <%- partial('_partial/page-fabacademy', {post: page, index: false}) %>
            <% break %>
        <% default: %>
            <%- partial('_partial/article', {post: page, index: false}) %>
        <% break %>
    <% } %>
</div>
