#connected {
  text-align: center;

  h4 {
    margin-bottom: 15px;
    font-weight: bold;
  }
  p {
    margin-bottom: 15px;
  }

  a {
    color: $primary-color;
    @include a($primary-color);
  }
}
