#hero {
  min-height: 400px;
  padding-top: 220px;
  padding-bottom: 100px;

  background: #333 url(/aindustriosa-web/i/astillero.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;


  .content-wrapper {
    position: absolute;
    z-index: 2;
    left: 30px;
    right: 30px;
    padding: 0 30px;
    @include vertical-align();

    h1 {
      margin: 0 0 60px 0;
      text-align: center;
    }

    h2 {
      color: $white;
      text-align: center;
      vertical-align: baseline;
      line-height: 60px;
      margin-bottom: 40px;

      img {
        display: inline-block;
        width: 385px;
      }
    }

    .logo {
      width: 450px;
      max-width: 100%;
    }

    .go-main {
      text-align: center;
      a {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 9999px;
        background: rgba($white, .8);

        color: $black;
        font-size: 45px;
        line-height: 90px;
        margin: auto;
        transition: all .2s ease-in-out;
        position: relative;

        i {
          position: absolute;
          display: block;
          top: 10px;
          width: 100%;
          transition: all .2s ease-in-out;
        }

        &:hover {
          background: rgba($blue, 1);
          color: $white;

          i {
            top: 15px;
          }
        }
      }
    }
  }
}
