<div class="section" id="connected">
  <div class="container-fluid-900">
    <h2 class="section-title">Únete a nós</h2>

    <div class="grid-row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h4>Pago trimestral</h4>
        <p>40 €/trimestre</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick">
          <input name="hosted_button_id" type="hidden" value="5NEQDF7ZD2B2Y">
          <button type="submit" class="btn white">
            <i class="fab fa-2x fa-cc-paypal"></i> Subscríbete
          </button>
        </form>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6">
        <h4>Pago mensual</h4>
        <p>15 €/mes</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick">
          <input name="hosted_button_id" type="hidden" value="ETLCF3J5JQBBS">
          <button type="submit" class="btn white">
            <i class="fab fa-2x fa-cc-paypal"></i> Subscríbete
          </button>
        </form>
      </div>
    </div>

    <p>Eres estudante e tes menos de 25 anos? Temos descontos para ti</p>

  </div>
</div>
