<div class="section" id="connected">
  <div class="container-fluid-900">
    <h2 class="section-title">Únete a nós</h2>
    <div class="grid-row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h4>Pago trimestral</h4>
        <p>40 €/trimestre</p>
        <a href="https://slackin-vigotech.herokuapp.com/" class="btn">
          <i class="fab fa-slack"></i> Únete
        </a>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6">
        <h4>Pago mensual</h4>
        <p>15 €/mes</p>
        <a href="https://t.me/vigotech" class="btn white">
          <i class="fab fa-telegram"></i> Únete
        </a>
      </div>
    </div>
    <p>Eres estudante e tes menos de 25 anos? Temos descontos para ti</p>
  </div>
</div>
