<div class="section" id="connected">
  <div class="container-fluid-900">
    <h2 class="section-title">únete a la conversación</h2>
    <div class="grid-row">
      <div class="col-xs-12 col-sm-4 mb-3">
        <h4>Únete al Slack</h4>
        <a href="https://slackin-vigotech.herokuapp.com/" class="btn">
          <i class="fab fa-slack"></i> Únete
        </a>
      </div>

      <div class="col-xs-12 col-sm-4 mb-3">
        <h4>Únete al canal de Telegram</h4>

        <a href="https://t.me/vigotech" class="btn white">
          <i class="fab fa-telegram"></i> Únete
        </a>
      </div>

      <div class="col-xs-12 col-sm-4 mb-3">
        <h4>Síguenos en twitter</h4>

        <a href="https://twitter.com/phpvigo" class="btn white">
          <i class="fab fa-twitter"></i> Síguenos
        </a>
      </div>
    </div>
  </div>
</div>
