<div class="section white" id="connected">
  <div class="container-fluid-900">
    <h2 class="section-title">Quenes somos</h2>

    <div class="grid-row">
      <div class="col-xs-12 col-sm-12 col-md-12 mb-12">
        <p>A Industriosa é unha asociación sen ánimo de lucro que xestiona e promove un medialab na cidade de Vigo. Un espacio
          onde makers, comunidades tecnolóxicas e empresas, dispoñen do equipamento necesario para poder levar a cabo os seus
          proxectos. Un punto de encontro onde aprender, compartir e construir.
        </p>
      </div>
    </div>
  </div>
</div>
