<div id="hero">
    <div class="content-wrapper">
      <h1>
        <img src="/i/logo_completo.png" alt="A Industriosa" class="logo" />
      </h1>

      <div id="upcoming-events"></div>

      <div class="go-main">
        <a href="#main">
          <i class="fa fa-chevron-down"></i>
        </a>
      </div>
    </div>
    <div class="video-wrapper responsive-embed-wrapper">
      <img src="/i/astillero.jpg" alt="A Industriosa">
    </div>
</div>


