<div id="hero">
    <div class="content-wrapper">
      <h1>
        <img src="/i/logo_alt.png" alt="PHPVigo" class="logo" />
      </h1>
      <h2>
        <a href="https://vigotech.org" target="_blank">
          <img
            class="vigotech"
            src="/i/vigotech.png"
            alt="VigoTech Alliance"
          />
        </a>
      </h2>

      <div id="upcoming-events"></div>

      <div class="go-main">
        <a href="#main">
          <i class="fa fa-chevron-down"></i>
        </a>
      </div>
    </div>
    <div class="video-wrapper responsive-embed-wrapper">
      <video
        preload="auto"
        playinline
        autoplay
        muted
        loop
        class="embed-responsive-item"
        id="frontpage-video"
      >
        <source src="/video/hero.mp4" type="video/mp4" />
      </video>
    </div>
</div>


